footer
  background: blue
  position: relative
  height: 455px
  background: #19C9DF
  @include display(flex)
  @include flex-direction(column)
  @include justify-content(center)
  @include align-items(center)
  overflow: hidden

  .container
    position: relative
    width: 100%
    max-width: 500px
    text-align: center

    p
      margin: 0 auto 66px
      font-size: 36px

      &#comingSoon
        opacity: 0
        text-align: left
        padding-left: 50px

        &.animated
          opacity: 1

      &#copywrite
        font-size: 12px
        margin: 52px auto 0

    #app-store
      position: absolute
      top: 0
      right: 50px
      cursor: no-drop
      opacity: 0

    a
      text-decoration: none
      color: $white

    .social-contact
      .social
        margin: 0 25px


@media (max-width: 515px)
  footer .container
    p#comingSoon
      padding-left: 0
      text-align: center
      margin-bottom: 20px

    #app-store
      position: relative
      top: auto
      right: auto
      margin-bottom: 100px
