header
  background:
    image: url(http://d1tdrzz6qd56ia.cloudfront.net/assets/img/headerBG.png)
    attachment: fixed
    position: top center
    size: 100%
  text-align: center
  position: relative
  height: 575px
  width: 100%
  overflow: hidden

  .overlay-shadow
    position: absolute
    background: rgba(0,0,0,0.5)
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1
    opacity: 0

  .overlay
    position: absolute
    background: rgba($pink, 0.87)
    top: 0
    right: 0
    bottom: 0
    left: 0
    @include display(flex)
    @include align-items(center)
    @include justify-content(center)

    .content
      z-index: 1

      #logo
        margin: 0 auto
        cursor: pointer
        opacity: 0
        width: 250px

        &.animated
          opacity: 1

      h1,
      h2
        margin: 0

      h1
        font-size: 48px

      h2
        font-size: 18px
        font-weight: 400
        color: rgba(255,255,255,.75)
        margin-bottom: 65px

      #signup
        #mc_embed_signup
          form
            #errors p
              text-shadow: 0 0 5px $blue
              padding: 5px
              margin: 0

            #mc_embed_signup_scroll
              @include display(flex)
              @include justify-content(center)

              input
                display: inline-block
                box-sizing: border-box
                text-align: center

                &[type="email"]
                  border: none
                  padding: 12px 12px 12px 45px
                  background: rgba(white, 0.5)
                  border-radius: 3px 0 0 3px
                  color: white
                  width: 320px
                  background:
                    image: url(../img/form-mail.svg)
                    repeat: no-repeat
                    position: 15px

                  @include placeholder
                    color: white

                &[type="submit"]
                  border: none
                  background: white
                  font-size: 14px
                  color: $pink
                  padding: 13px 34px
                  border-radius: 0 3px 3px 0

      #signup-success
        text-align: center
        display: none

        p
          padding: 0 25px
          color: white
          font-size: 14px
          margin: 0

        a
          display: inline-block
          margin: 38px 25px

          img:hover
            @include animation-name(pulse)
            @include animation-duration(.5s)

@media (max-width: 480px)
  header .overlay
    .content
      padding: 0 5px

      h1
        font-size: 7vw

      #signup #mc_embed_signup form
        #mc_embed_signup_scroll
          @include flex-direction(column)

          input
            &[type="email"]
              width: 90%

            &[type="submit"]
              margin-top: 20px
              width: 90%

@media (max-width: 414px)
  header
    .overlay .content
      h1
        margin: 50px 0 70px

      h2
        display: none
